/*  your css code here. If applicable */
main{
	background-color: black;
	padding:10px;
}

.container{
	display: grid;
	grid-template-columns: repeat(40, 1fr);
	background-color: black;
}

.square{
	border:1px solid black;
	height:15px;
	background-color: gray;
}

.reset{
	transition: background-color 2s;
}